---
layout: default
title: Sera - OnePage Multi-Purpose Theme
---

{% include sections/about.html %}

{% include sections/parallax-features.html %}

{% include sections/portfolio.html %}

{% include sections/features.html %}

{% include sections/offer.html offer-text="I am ready to level up my skills!" button-text="Buy Now" %}

{% include sections/testimonials.html %}

{% include sections/blog.html %}

{% include sections/team.html %}

{% include sections/offer.html offer-text="Your code is only as good as your overview of good practices!" button-text="Enter Course" %}

{% include sections/prices.html %}

{% include sections/contact.html %}

{% include sections/offer.html offer-text="Start writing enterprise level PHP!" button-text="Buy Course" %}
