<!-- Team Section -->
<section class="site-section team-section section-focus" id="audience">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>Who should take this course?</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>Every developer who wants to learn how to write high-quality enterprise level software.</p>
        <p>Every advanced developer using OOP looking for a way to level up his programming skills to be able to work on
          projects with large codebases.</p>
      </div>
    <!-- Team Members -->


    </div>

  </div>
</section>
