<!-- Team Section -->
<section class="site-section team-section section-focus" id="team">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.team-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-6 col-md-push-1 col-sm-12 section-content text-left">
        <p>{{ site.team-description }}</p>
        <p>{{ site.team-description-2 }}</p>
        <p>{{ site.team-description-3 }}</p>
        <p>{{ site.team-description-4 }}</p>
      </div>

      <div class="team-members-container">

        {% for member in site.team %}

        <!-- Member -->
        <div class="col-md-4 col-md-push-1 col-sm-6 col-sm-push-0 col-xs-12 col-xs-push-0">
          <div class="team-member">
            <div class="">
              <img src="{{ site.baseurl }}/images/avatars/{{ member.avatar }}" alt="Avatar Team Member" />
            </div>
            <div class="team-member-content">
              <h3 class="name">{{ member.name }}</h3>
              <h4 class="tagline">{{ member.tagline }}</h4>
              <div class="social-icons">
                <ul class="icons">
                  <li><a href="{{ member.facebook }}" target="_blank"><i class="fi flaticon-facebook"></i></a></li>
                  <li><a href="{{ member.twitter }}" target="_blank"><i class="fi flaticon-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}

    </div>

    <!-- Team Members -->


    </div>

  </div>
</section>
