.page-tips {
    .page-tips-wisdom-container {
        min-height: 320px;
    }

    blockquote {
        margin: 50px 0 20px 0;
        float: none;
        font-size: 1.4rem;
    }

  .page-tips-newsletter-arrow-container {
      i {
        margin-right: 5px;
        font-size: 50px;
        vertical-align: middle;
      }
  }

  .page-tips-history {
      margin: 50px 0;

      .page-tips-history-list {
          margin: 20px 0;
      }

      .page-tips-history-list-item {
          border-bottom: solid 1px $blue;
          padding: 20px;

          .page-tips-history-list-item-title {
              font-weight: bold;
              padding-bottom: 5px;
          }

          .page-tips-history-list-item-date {
              font-size: 0.6rem;
          }
      }
  }
}
