<!-- Newsletter Widget -->
<div class="widget newsletter-widget">

  <!-- Widget Header -->
  <header class="widget-header">
    <h4 class="widget-title">Newsletter: 1 per week</h4>
  </header>

  <!-- Widget Content -->
  <div class="widget-content">

    <div id="mc_embed_signup">
      <form action="https://excellentdevelopers.us16.list-manage.com/subscribe/post?u=829e1db7cd28c56d108eb426f&amp;id=4ace744eda" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter-email-signup" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="field-group">
      	     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required>
          </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_829e1db7cd28c56d108eb426f_4ace744eda" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-focus button-subscribe"></div>
        </div>
      </form>
    </div>

  </div>

</div>
